# This directory will contain csv files output by the code
# But we do not want to store these in the git repo
# This file ensures that git will ignore everything in outputs/
*
# Except this file
!.gitignore
